# Virtual Environments
venv/
.venv/
pyvenv.cfg

# Python Cache & Build Artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.tmp.mp4

# Temporary / Scratch Files
scratch/
*.log

# OS Generated
.DS_Store
Thumbs.db
